# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Dependencies
vendor/

# Binaries
bin/
dist/

# Database
*.db
